header
nav.navbar.navbar-expand-lg
  .container
    a.btn.btn-primary.rounded-pill.order-1.m-2(href="womens") Womens
    a.btn.btn-secondary.rounded-pill.order-1.m-2(href="mens") Mens
    h2 Alibazon
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
nav(aria-label='breadcrumb')
  .container
    ol.breadcrumb
      li.breadcrumb-item Home
      li.breadcrumb-item Subcategories
      li.breadcrumb-item Product

      
      
       