.container
  section.jumbotron
    h1 Main category name
    p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dolor velit, imperdiet sit amet convallis id, semper non augue. Nunc id massa porttitor, iaculis eros congue, eleifend erat. In sed maximus ligula. Duis consequat lobortis diam, non tincidunt est ultrices eget. Aenean eget luctus dolor, a vestibulum libero. Aliquam aliquet eros condimentum, fringilla neque pellentesque, porttitor tellus. Maecenas tortor sem, varius vel mi vitae, sagittis consequat nisi.     
          