doctype html
html
    head
        title Ecommerce Alibazon
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        include includes/header.pug

        main#main
            include includes/jumbotron.pug

            block content

        include includes/footer.pug
    
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
        script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
    
