extends layout

block content
    .container.col-lg-6.mb-5.mt-5
        //login form
        h1.display-4.mb-4 Log In
        form(method='POST' action='/login')
            div.form-group
                label(for='email') Email
                input.form-control(type='text' id='email' placeholder='email' name='email')
            div.form-group
                label(for='password') Password
                input.form-control(type='password' id='password' placeholder='password' name='password')
            button.btn.btn-primary(type='submit') Log in