extends layout.pug
block content
  .col-md-8
  .container
    .card.mb-4.shadow-sm
    .card-body
      .col-sm-6.col-md-6.col-xs-6
        img(src= "products/large/PG.10228341.JJZ01XX.PZ.jpg")
      .col-sm-6.col-md-6.col-xl-6
        h3 Hello World
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit adipiscing blandit. Aliquam placerat, velit a fermentum fermentum, mi felis vehicula justo, a dapibus quam augue non massa.
      