extends layout.pug
block content
  .container
    .row
      .col-sm.mb-5.mt-3
        img.pull-left(src="../products/large/PG.10228341.JJZ01XX.PZ.jpg")
      .media-body.d-flex-align-items-start-flex-column-bd-highlight.mt-2
        h5 Name of the product
        p Product description
        .bd-highlight
          p Price: 
          a.btn.btn-dark.mt-2(href="") Buy