extends layout.pug
block content
    .container
        .mb-5
            .row
                .col-sm-5
                    img(src="../images/" + product[0].image_groups[0].images[0].link)
                .col-sm-7.mt-4
                    h5.card-title #{product[0].name}
                    p.card-text #{product[0].short_description}
                    .mt-2.align-items-center.d-flex
                        form(method='POST' action='/cart')
                            input.form-control(type = "hidden" name='productId' value = product[0].id)
                            if product[0].primary_category_id === 'womens-outfits'
                                p Product unavailable, check later!
                                p.mark.py-1.d-flex.justify-content-center Price: Unavailable
                            else
                                input.form-control(type = "hidden" name='variantId' value = product[0].variants[0].product_id)
                                input.form-control(type = "number" name='quantity' placeholder="Quantity" required)
                                button.btn-dark.rounded-pill.mt-4.py-1(type='submit') Buy product
                                sp.mark.ml-4 Price: $#{product[0].price}
 
                    