mixin cards(list)
  .col-md-8
  .container
      .card.mb-4.shadow-sm
        title #{list.page_title} 
        img(src=list.image)
        .card-body
          .card-text #{list.page_description}
          .card-text.mb-2  
          .d-flex.justify-content-between.align-items-center
            .btn-group
              button.btn.btn-sm.btn-outline-secondary View products