mixin cards(collection)
  .col-md-8
  .container
    .card.mb-4.shadow-sm
      svg.bd-placeholder-img.card-img-top&attributes({"width": "100%"}, {"height": "225"}, {"focusable": "false"}, {"role": "img"})
        title #{collection.name} #
        rect(width="100%" height="100%" fill="#55595c")
        text(x="50%" y="50%" fill="#eceeef" dy=".3em") Cras eget enim se.
      .card-body
        .card-text Aliquam ac orci faucibus, rhoncus metus a, congue ante.
        .card-text Aenean elementum, nulla non hendrerit venenatis, mauris leo varius dui, eu laoreet mauris augue ac ligula.
        .card-text.mb-4  Suspendisse sed lorem facilisis, iaculis orci lobortis, cursus nisl.
        .d-flex.justify-content-between.align-items-center
          .btn-group
            button.btn.btn-sm.btn-outline-secondary View