mixin cardsOfProducts(list)   
  .container
    .row
      .col-sm.mb-5
        h5 #{list.name}
        img.pull-left(src="../" + list.image_groups[0].images[0].link)
      .media-body.mt-4.d-flex-align-items-start-flex-column-bd-highlight
        p #{list.short_description}
        .bd-highlight
          p Price: #{list.price}
          a.btn.btn-dark.mt-2(href="/product/" + list.id) View product
        



