mixin cardsOfProducts(list)
    .mx-auto.mb-5
        .row
            .col-sm-5
                h5.card-title.d-flex.justify-content-center #{list.name}
                img.img-thumbnail(src="../images/" + list.image_groups[0].images[0].link)
            .col-sm-7.mt-5
                .body-right
                    p #{list.short_description}
                .d-flex.justify-content-between.mt-5
                    p.mark.py-2.mt-2 Price: $#{list.price}
                    a.btn.btn-dark.mt-2.mb-3.rounded-pill(href="/product/" + list.id) More info